.places{
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1604156787928-a5e83b3544f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.places .content img{
  border-radius: 50%; /* This creates a circular shape */
  border: 2px solid #000; /* Border styling (change color, width, etc. as needed) */
  width: 400px; /* Set the width and height as needed */
  height: 400;
}
