body {
    overflow-x: hidden;
  }
    .main-part{
      margin-top: 0%;
      background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      display: table;
      
    }
    #main-title{
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      color: #243945;
      font-size: 5vh;
      font-family: 'HomepageFont';
      font-weight: bold;
    }
    #main-subtitle{
      text-align: center;
      vertical-align: middle;
      display: table-row;
      font-size: 3vh;
      font-family: 'HomepageFont';
    }
  
  
    #statistics-of-work{
      background-color: #1A374D;
      color:white;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 15px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .col>h3:hover{
      color: white;
      font-size: 28px;
      font-weight: bold;
    }
    .col>h5:hover{
      color: white;
      font-weight: bold;
    }
    ul li > span{
      color: #2f0c6e;
    }
  
    @font-face {
      font-family: 'HomepageFont';
      src:  url('myfont.woff2') format('woff2'),
            url('myfont.woff') format('woff');
      font-size: 3vh;
    }
  
    .slider {
      width: 100%;
      margin: auto;
      height: 30rem;
      padding: 3rem;
      color: #1A374D;
      position: absolute;
    }
  
    .slider-box, .slider-box-left, .slider-box-right {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem;
      position: absolute;
      top: 11rem;
    }
  
    .slider-box-left {
      left: -100%;
    }
    
    .slider-box {
      left: 0;
      right: 0;
    }
    .slider-box-right {
      right: -100%;
    }
    .slider-text {
      width: 30%;
      height: auto;
      margin-right: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
      .slider-text p {
          font-size: 3rem;
      }
  
  
      .slider-text button {
        width: 8rem;
        height: auto;
        margin-top: 1rem;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #1A374D;
        color: white;
        cursor: pointer;
        font-family: 'HomepageFont';
    }
  
    .slider-btn-left, .slider-btn-center, .slider-btn-center-fixed, .slider-btn-middle, .slider-btn-right {
      width: auto;
      height: auto;
      border: none;
      margin: 5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background: none;
      font-weight: bold;
      font-size: 2rem;
      color: #1A374D;
      cursor: pointer;
      font-family: 'HomepageFont';
    }
    
    .slider-btn-center-fixed {
      visibility: hidden;
    }
  
    .slider-btn-right-fixed {
      visibility: hidden;
    }
    
      .slider-btn-left:hover, .slider-btn-center:hover, .slider-btn-center-fixed:hover, .slider-btn-middle:hover, .slider-btn-right:hover, .slider-btn-right-fixed:hover {
          color: #6ea0e2;
      }
    
      .slider-text button:hover {
        background: #5a9de9;
      }
  .slider-box-img {
        width: 20%;
        height: auto;
        padding: 0.5rem;
        margin-right: 5rem;
      }
.slider-img1 {
        width: 23rem;
        height: 23rem;
        border: 1.5rem solid;
        border-color: rgba(0, 0, 0, 0.8);
        border-radius: 12rem;
        background-image: url(../images/prove3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
.slider-img2 {
        width: 23rem;
        height: 23rem;
        border: 1.5rem solid;
        border-color: rgba(0, 0, 0, 0.8);
        /*border-image: url(../images/boder.png);*/
        border-radius: 12rem;
        background-image: url(../images/adventure-3.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
      }
.slider-img3 {
        width: 23rem;
        height: 23rem;
        border: 1.5rem solid;
        border-color: rgba(0, 0, 0, 0.8);
        border-radius: 12rem;
        background-image: url(../images/Amalfi.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
 .img-sepia {
        filter: sepia(5%);
      }

