.new-section {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-section .new-content img {
  height: auto;
  width: 550px;
  max-width: 100%;
 
}
#Contact-us{
  color: #1A374D;
}
.new-text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.new-content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.new-text .new-section-title {
  color: #1A374D;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.new-text p {
  color: #1A374D;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.new-text ul {
  color: #1A374D;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

/*Tabela*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
.square{
  list-style-type: square;
}
.circle{
  list-style-type: circle;
}
.disc{
  list-style-type: disc;
}
.card-img-top{
  border-radius: 50%;
  height: 250px ;
  width: 250px ;
  position: relative;
  left: 80px;
  top: -80px;
  object-fit: cover;
}
.card{
  border-radius: 0;
  cursor: pointer;
  margin-top: 100px ;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
  margin-top: -50px;
}
.bi{
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  .card-img-top{
      
      left: 48px;
     
  }
}

