body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 14px; }
  
    .ion-icon {
      color: white; 
      font-size: 24px; 
    }
    
    
    .site-footer .list-unstyled.social li {
    
      display: inline-block;
      margin-right: 10px; 
    }
    
  .text-white {
    color:white !important; 
    background: radial-gradient(circle,#3d7fb2, #1A374D);
  }
  p {
    /*kerkesa text wrapping dhe shadow*/
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-shadow:gray;
    
  }
  
  #fotofoto{
    border-image-source: url(/images/korniza.jpg);
    border-image-slice: 20 fill;
    border-image-width: 20px;
    border-image-outset: 0;
    border-image-repeat: round;
  }
  
  .btnhover:hover{
    color:#1A374D;
    background-color: #66859d;
    
  }
  
  .img-fluid {
    border-image: url(/images/harta.png);
    border-image-slice: 10;
    border-image-width: 20px;
    border-image-repeat: round;
  
    background-size: cover; /* Përshtat madhësinë e sfondit për të mbuluar të gjithë konteinerin */
    background-origin: content-box; /* Vendos origjinën e sfondit në kornizë (jo në padding ose përmbajtje) */
    background-position: center; /* Vendos pozicionin e sfondit në qendër */
  
    position: relative;
  }
  
  h6
  {
    background: linear-gradient(45deg,#3d7fb2, white);
  }
  
  h1, .h1 {
    font-family: "Source Serif Pro", serif;
  }
  .text a
  {
    color:#1A374D;
  
  }
  .hero {
      background-color: #1A374D;
      height:50%;
      text-align: center;
      padding:100px;
  }
  
  .untree_co-section 
  {
      padding: 40px 0; 
      margin-left: 0;
      margin-right: 0;
  }
  .untree_co-section label
  {
    font-size: 17px;
  
  }
   
  
